.brief {
  width: 320px;

  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.brief__wrapper {
  @include container;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.brief__title {
  @include section-title;
  text-transform: none;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.brief__list {
  @include list-zero;

  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr;

  counter-reset: item-counter;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 90px;
  }
}

.brief__item {
  position: relative;
  display: grid;
  grid-template-columns: 60px 200px;
  grid-column-gap: 20px;

  @media (min-width: $tablet-width) {
    width: 230px;

    grid-template-columns: 80px 140px;
    grid-template-rows: 80px 120px;

    grid-column-gap: 11px;
    grid-row-gap: 31px;
  }
}

.brief__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.brief-item::after {
  @media (min-width: $tablet-width) {

    display: block;
    content: counter(item-counter);
    position: absolute;
    width: 140px;
    top: -110px;
    right: -10px;

    font-size: 280px;
    color: #f2f2f2;
    letter-spacing: -15px;
    z-index: -1;
  }
}

.brief-item__image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.brief-item__text {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @include text-arial-regular;
  counter-increment: item-counter;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
