.card {
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 50px 155px;
  grid-template-rows: 55px 135px 35px;
  column-gap: 20px;

  padding: 24px 33px 18px 22px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    grid-template-columns: 320px 200px;
    grid-template-rows: 65px 150px 20px;
    column-gap: 75px;

    padding: 77px 62px 55px 52px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 100px 300px;
    grid-template-rows: 100px 100px 70px;
    column-gap: 75px;

    width: 570px;

    padding: 47px 51px 55px 52px;
  }
}

.card__image-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  margin-top: auto;
  margin-left: auto;

  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    width: 100px;
    height: 100px;
  }
}

// Пока так
.card__image {
  @media (min-width: $tablet-width) {
    transform: scale(4);
  }

  @media (min-width: $desktop-width) {
    transform: none;
  }
}

.card__text::after {
  display: block;
  margin-top: 23px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.card__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  align-self: end;

  color: #000000;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    align-self: flex-start;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    align-self: center;
  }
}

.card__icon {
  overflow: unset;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
  }
}

.card__icon--large {
  overflow: unset;

  @media (min-width: $tablet-width) {
    height: 112px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    height: 56px;
  }
}

.card__text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  margin: 0;
  align-self: end;

  @include text-arial-regular;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    align-self: start;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    align-self: end;
  }
}

.card__more {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  align-self: end;

  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.card__more-icon {
  position: absolute;
  width: 40px;
  height: 16px;
  top: 50%;
  margin-left: 15px;
  transform: translateY(-8px);
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}

.card__more:hover {
  .card__more-icon {
    background-image: url("../img/icon-arrow-hover.svg");
  }
}

.card__more:active {
  opacity: 0.3;
}
