.cat-info {
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-bottom: 0;
    padding-right: 80px;
    max-width: 570px;
  }
}

.cat-info__row {
  @include form-row;
}

.cat-info__row:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.cat-info__label {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    margin-right: 17px;
  }
}

.cat-info__input {
  flex-grow: 1;

  padding: 13px 10px 13px 15px;

  border: 1px solid #e7e7e7;
  outline: none;

  @include text-oswald-regular;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 10px 10px 10px 17px;

    font-size: 20px;
    line-height: 30px;
  }
}

.cat-info__input:hover {
  border-color: #cdcdcd;
}

.cat-info__input:focus {
  box-shadow: 0 0 1px 1px #444444;
  border-color: #444444;
}

.cat-info__input:focus:invalid {
  box-shadow: 0 0 1px 1px #ff8282;
  border-color: #ff8282;
}
