.cat-habit {
  @media (min-width: $tablet-width) {
    padding-top: 42px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}

.cat-habit__textarea {
  width: 100%;
  box-sizing: border-box;

  @include text-oswald-regular;

  padding: 12px 14px;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  resize: none;

  @media (min-width: $tablet-width) {
    height: 174px;

    padding-top: 9px;
    padding-left: 18px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}
