.checkbox {
  border-bottom: none;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 23px 74px 25px 70px;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    justify-content: unset;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 30px;
  }
}

.checkbox__row {
  @include form-row;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }
}

.checkbox__row:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-right: 104px;
  }
}

.checkbox-row:last-child {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.checkbox__label {
  margin-right: 0;

  @media (min-width: $tablet-width) {
    width: 280px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
  }
}

.checkbox__label:hover {
  cursor: pointer;

  .checkbox__text::before {
    border-color: #bababa;
  }
}

.checkbox__input:disabled~.checkbox__text {
  opacity: 0.3;
}

.checkbox__input {
  @include visually-hidden;
}

.checkbox__text {
  position: relative;
  padding-left: 45px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
    margin-top: 5px;
    display: block;
  }
}

.checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
    top: -5px;
  }
}

.checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;

  background-image: url("../img/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;

  display: none;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: 1px;
    top: -5px;

    background-size: 28px;
  }
}

.checkbox__input:checked~.checkbox__text::after {
  display: block;
  opacity: 1;
}
