.client-contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.client-contacts__row {
  @include form-row;

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.client-contacts__row:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.client-contacts__label {
  margin-right: 13px;
}

.client-contacts__input-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;

  border: 1px solid #ececec;
}

.client-contacts__input-wrapper:focus-within {
  .client-contacts-icon-wrapper {
    color: #68b738;
    stroke: #68b738;
  }
}

.client-contacts__input {
  width: 100%;
  padding: 13px 15px;

  border: none;

  @include text-oswald-regular;
}

.client-contacts-icon-wrapper {
  position: absolute;
  right: 16px;
  align-self: center;
  color: #222222;
}
