// Это изменение

.client-contacts {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    justify-content: space-between;
  }
}

.client-contacts__row {
  @include form-row;

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.client-contacts__row:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.client-contacts__label {
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.client-contacts__input-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.client-contacts__input-wrapper:hover {
  border: none;
}

.client-contacts__input-wrapper:focus-within {
  .client-contacts-icon-wrapper {
    color: #68b738;
    stroke: #68b738;
  }
}

.client-contacts__input {
  width: 100%;
  padding: 13px 50px 13px 15px;

  border: 1px solid #e7e7e7;
  outline: none;

  @include text-oswald-regular;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 9px 51px 9px 20px;

    font-size: 20px;
    line-height: 30px;
  }
}

.client-contacts__input:hover {
  border-color: #cdcdcd;
}

.client-contacts__input:focus {
  box-shadow: 0 0 1px 1px #444444;
  border-color: #444444;
}

.client-contacts__input:focus:invalid {
  box-shadow: 0 0 1px 1px #ff8282;
  border-color: #ff8282;
}

.client-contacts__input:focus:invalid + .client-contacts-icon-wrapper {
  color: #ff8282;
  stroke: #ff8282;
}

.client-contacts-icon-wrapper {
  position: absolute;
  right: 15px;
  align-self: center;
  color: #222222;
}
