.cooperation {
  .cooperation__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include container;
    padding-top: 26px;
    padding-bottom: 26px;

    @media (min-width: $tablet-width) {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      background-color: #ffffff;
      transform: translate(20%, 100%);
    }
  }

  .cooperation__title {
    margin: 0;

    @include text-oswald-regular;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

  }

  .cooperation__address {
    width: 140px;

    @include text-arial-regular;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      text-align: end;
    }
  }
}

.cooperation--gray {
  background-color: #f2f2f2;
}
