.form-extra__wrapper {
  border-bottom: none;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 0;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    border-bottom: none;
  }

  .form__row:last-child {
    margin-bottom: 30px;
  }
}

.form-extra__label {
  margin-right: 0;

  @media (min-width: $tablet-width) {
    width: 280px;
    margin: 0;
  }
}

.form-extra__label:hover {
  opacity: 0.3;
}

.form-extra__input {
  @include visually-hidden;
}

.form-extra__decorative {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.form-extra__input:checked + .form-extra__decorative {
  background-image: url("../img/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}
