.form__header {
  @include header-h1;
  @include form-container;

  text-transform: none;

  margin-top: 28px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
    margin-bottom: 56px;
  }
}

.form__header-subtitle {
  @include section-title;
  @include form-container;

  margin-bottom: 38px;

  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__title {
  margin-left: 20px;
  max-width: 190px;

  @include text-oswald-regular;
  text-transform: none;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-left: 70px;

    max-width: none;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;

  @include form-container;

  border: 0;
}

.form__fieldset--cat-info {
  padding-bottom: 24px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
