.green-line {
  overflow-x: hidden;
}

.green-line-container {
  width: fit-content;
}

.green-line__title {
  position: relative;
  margin-left: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 70px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 110px;
  }
}

.green-line__title::before {
  content: "";
  position: absolute;
  width: 1000%;
  height: 2px;
  background-color: #68b738;
  top: 50%;
  right: calc(100% + 40px);
  z-index: -1;
}

.green-line__title::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 2px;
  background-color: #68b738;
  top: 50%;
  left: calc(100% + 40px);
}
