.green-line {
  overflow-x: hidden;
  width: 100%;
}

.green-line-container {
  @include container;
}

.green-line__title {
  position: relative;
  width: fit-content;
  margin-top: 0;
  margin-left: 0;
  // margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-left: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0
  }
}

.green-line__title::before {
  content: "";
  position: absolute;
  width: 1000%;
  height: 2px;
  background-color: #68b738;
  top: 50%;
  right: calc(100% + 40px);
  z-index: -1;
}

.green-line__title::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 2px;
  background-color: #68b738;
  top: 50%;
  left: calc(100% + 40px);
}
