.instance {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.instance__text-container {
  @include container;

  @media (min-width: $tablet-width) {
    padding-bottom: 200px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.instance__wrapper {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    background-color: #eaeaea;
  }
}

.instance__title {
  @include section-title;
  @include container;
  text-transform: none;
  padding-top: 25px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 43px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.instance__text {
  margin: 0;
  margin-bottom: 20px;

  @include text-arial-regular;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.instance__image-wrapper {
  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
    min-width: 768px;
    min-height: 462px;
    position: relative;
  }
}

.instance__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 560px;
    height: 512px;
    top: -30%;
    left: 50%;
    transform: translateX(-280px);
  }

  @media (min-width: $desktop-width) {
    top: -25%;
    left: 50%;
  }
}
