.instance {
  @include container;
  background-color: #eaeaea;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-bottom: 95px;

    background-image: linear-gradient(#ffffff 620px, #eeeeee 620px 100%);
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 29px;
    background-image: linear-gradient(#ffffff 145px, #eeeeee 145px 100%);
  }
}

.instance__title {
  @include section-title;
  @include container;
  box-sizing: border-box;
  text-transform: none;
  padding: 27px 0 42px;

  @media (min-width: $tablet-width) {
    padding: 43px 0 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    padding-bottom: 0;
  }
}

.instance__wrapper {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include container;
    display: flex;
    justify-content: space-between;
  }
}

.instance__text-container {
  @media (min-width: $tablet-width) {
    padding-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;

    padding: 0;
    padding-top: 150px;
  }
}

.instance__text {
  margin: 0;
  margin-bottom: 20px;

  @include text-arial-regular;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 456px;
    margin-bottom: 66px;
  }
}

.instance__image-wrapper {
  @media (min-width: $tablet-width) {
    min-height: 462px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    top: -58px;
  }
}

.instance__image {
  display: block;
  margin: 0 auto;
}
