.intro {
  margin: 0 auto;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.intro__wrapper {
  @include container;

  margin-bottom: 135px;
  padding-top: 27px;
  padding-bottom: 20px;
  background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)), url("../img/intro-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)), url("../img/intro-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 89px;
    padding-bottom: 0;

    background-image: none;

    text-align: start;
  }
}

.intro::after {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 50%;
    height: 694px;
    top: 0;
    left: 50%;

    background-color: rgba($color: #68b739, $alpha: 0.85);
    background-image:
      linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)),
      url("../img/intro-background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)), url("../img/intro-background-desktop@2x.jpg");
    }
  }
}

.intro__header {
  @include header-h1;

  margin: 0;
  margin-bottom: 25px;

  @include intro-text-color();

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    margin-top: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-top: 111px;
  }
}

.intro__slogan {
  margin: 0;
  margin-bottom: 145px;

  font-size: 14px;
  line-height: 14px;

  @include intro-text-color();

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.intro__product-wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-140px, -60px);

  @media (min-width: $tablet-width) {
    position: static;

    transform: none;
  }
}

.intro__product-image {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }
}

.intro__button-wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 40%;
    left: 11%;

    padding: 0;
  }

  @media (min-width: $tablet-width) {
    top: 48%;
  }
}

.intro__button {
  @include button-green;
  display: block;

  padding: 7px 44px;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 15px 46px;
  }
}
