.main-footer {
  background-color: #F2F2F2;;

  .main-footer__wrapper {
    @include container;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-top: 42px;
      padding-bottom: 42px;
    }
  }

  .main-footer__item + .main-footer__item {
    border-top: 1px solid #D9D9D9;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }
}
