.main-nav {
  display: flex;
  align-items: center;

  width: auto;
  height: 65px;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: unset;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}


.main-nav__wrapper {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 65px;
  margin: 0 calc(100% / -2);
  text-align: center;

  background-color: #ffffff;

  z-index: 2;

  @media (min-width: $tablet-width) {
    position: static;

    margin: 0;
    z-index: 0;
    background-color: transparent;
  }
}

.main-nav__wrapper--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  @include list-zero;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__item {
  position: relative;
  padding: 22px 20px 24px;

  @include text-oswald-medium;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {

    padding: 0;

    border-top: none;

    @include text-oswald-regular;
    font-size: 18px;
    line-height: 24px;
  }
}

.main-nav__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 34px;
  }
}

.main-nav__item--active::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
    top: 27px;
  }
}

.main-nav__item a {
  color: inherit;
  text-decoration: none;
}

.main-nav__item:hover {
  opacity: 0.8;
}

.main-nav__item:active {
  opacity: 0.6;
}

.main-nav__item--overlay {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.main-nav__item--overlay-active::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    top: 27px;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#000000, 30%);
  box-shadow:
    0 7px 0 0 fade(#000000, 30%),
    0 14px 0 0 fade(#000000, 30%);
}

@media (min-width: $mobile-width-only) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    width: 20px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#000000, 30%);
  }
}

.main-nav__toggle span {
  @include visually-hidden;
}
