.main-form {
  .main-form__wrapper {
    @include container;
    padding-bottom: 32px;

    @media (min-width: $tablet-width) {
      padding-bottom: 72px;
    }
  }

  .main-form__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }

  .main-form__fieldset--main {
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  .main-form__fieldset-wrapper {
    display: flex;
    flex-direction: column;

    padding-top: 25px;
    padding-bottom: 25px;

    border-bottom: 1px solid #D9D9D9;
  }

  .main-form__fieldset-wrapper--extra {
    @media (min-width: $tablet-width) {
      padding: 25px 0px;

      flex-direction: row;
      flex-wrap: wrap;

      border-bottom: none;
    }
  }

  .main-form__fieldset-wrapper--main {
    @media (min-width: $desktop-width) {
      width: 45%;
    }
  }

  .main-form__title {
    @include section-title;
  }

  .main-form__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 13px;
  }

  .main-form__row--contacts {
    @media (min-width: $desktop-width) {
      width: 45%;
    }
  }

  .main-form__label {
    margin-right: 10px;

    white-space: nowrap;

    @include text-oswald-regular;
  }

  .main-form__contacts {
    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }
  .main-form__label--extra {

    @media (min-width: $tablet-width) {
      width: 280px;
      margin: 0;
      margin-bottom: 37px;
    }
  }

  .main-form__label--radio {
    @media (min-width: $desktop-width) {
      margin-bottom: 23px;
    }
  }

  .main-form__input {
    flex-grow: 1;

    padding: 13px 0 13px 15px;
    border-width: 1px;

    @include text-oswald-regular;
  }

  .main-form__textarea {
    width: 100%;

    @include text-oswald-regular;
  }

  .main-form__submit-group {
    @media (min-width: $tablet-width) {
      display: flex;

      padding: 0 40px;

      align-items: center;
    }
  }

  .main-form__submit {
    @include button;

    margin-bottom: 21px;

    width: 100%;
    @include text-oswald-regular;
    color: #ffffff;

    @media (min-width: $tablet-width) {
      width: 280px;
      margin-bottom: 0;
      margin-right: 60px;
    }
  }

  .main-form__footnote {
    text-align: center;
  }
}
