.main-header {
  margin: 0 auto;

  height: 65px;
  box-sizing: border-box;

  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    border-bottom: none;
  }
}

.main-header__wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.main-header__logo-image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}

.main-header__logo-image:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main-header__logo-image:active {
  opacity: 0.6;
}
