.map {
  min-width: 320px;
  height: 362px;
  background-image: url("../img/location-mobile.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    height: 400px;
    background-image: url("../img/location-tablet.png");
  }

  @media (min-width: $desktop-width) {
    margin-top: -200px;
    min-width: 1440px;
    height: 400px;
    background-image: url("../img/location-desktop.png");
  }
}

.map__title {
  @include section-title;
  @include visually-hidden;
}

.map__iframe {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
