.product__header {
  @include header-h1;
  @include container;
  margin-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 82px;
  }
}

.product__title {
  @include container;
  @include section-title;

  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

.product__list {
  @include list-zero;

  @media (min-width: $tablet-width) {
    @include container;

    display: grid;
    column-gap: 60px;
    row-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1600px) {
    column-gap: 80px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.product__item {
  display: flex;
  flex-wrap: wrap;

  padding: 19px 20px 36px;

  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 0 39px 39px;
    background-color: #f2f2f2;
    border-top: none;
    min-height: 511px;
    box-sizing: border-box;
    background-image: linear-gradient(#ffffff 81px, #eeeeee 81px 100%);
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.product__image-wrapper {
  display: flex;
  justify-content: center;

  min-width: 140px;

  @media (min-width: $tablet-width) {
    min-height: 210px;
    margin-bottom: 28px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: inherit;
  }
}

.product__text {
  margin-bottom: 13px;
  min-width: 140px;
}

.product__name {
  max-width: 76px;
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 20px;


  @media (min-width: $tablet-width) {
    max-width: 159px;

    margin: 0 auto;
    margin-bottom: 21px;

    text-align: center;

    font-size: 20px;
    line-height: 24px;
  }
}

.product__details {
  margin: 0;

  @include text-arial-regular;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product__row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 9px;

    border-bottom: 1px solid #cdcdcd;
  }
}

.product__button {
  @include button-green;
  @include text-oswald-regular;

  width: 100%;
  min-width: 280px;

  padding: 10px 0;

  text-align: center;
  text-transform: uppercase;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 75%;
    min-width: 0;
    margin: 0 auto;
    margin-top: auto;
  }
}
