.product-more {
  display: flex;
  flex-direction: column;
  position: relative;

  padding-bottom: 25px;

  text-align: center;

  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    min-height: 430px;
    margin-top: 80px;

    background-image: none;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: $tablet-width) {
    padding: 0 35px;
  }
}

.product-more__icon-wrapper {
  position: relative;
  height: 40px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    height: 160px;
    margin-bottom: 0;
  }
}

.product-more__icon-wrapper::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 125px;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;

  @media (min-width: $tablet-width) {
    top: 81px;
    right: 91px;
    width: 60px;
  }

  @media (min-width: $desktop-width) {
    right: 57px;
    top: 79px;
  }
}

.product-more__icon-wrapper::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 125px;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    top: 81px;
    right: 91px;
    width: 60px;
  }

  @media (min-width: $desktop-width) {
    right: 57px;
    top: 79px;
  }
}

.product-more__icon {
  margin: 0 auto;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.product-more__title {
  margin-bottom: 8px;
  margin-top: 8px;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;

  @media (min-width: $tablet-width) {
    max-width: 180px;
    margin: 0 auto;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.product-more__subtitle {
  margin: 0 auto;
  margin-bottom: 21px;

  @include text-arial-regular;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    max-width: 200px;

    font-size: 16px;
    line-height: 18px;
  }
}

.product-more__button {
  @include button-gray;
  @include text-oswald-regular;

  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
