.production {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.production__brand {
  margin: 0;
  padding-bottom: 7px;

  @include text-arial-regular;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-right: 23px;
  }
}

.production__link {
  padding: 21px 0;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
  }
}

.production__link:hover {
  stroke: #68b738;
}

.production__link:active {
  opacity: 0.3;
}

.production__link span {
  @include visually-hidden;
}
