.product-more {
  display: flex;
  flex-direction: column;
  position: relative;

  padding-top: 70px;
  padding-bottom: 25px;

  text-align: center;

  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    min-height: 430px;
    margin-top: 80px;

    background-image: none;
    border: 2px solid #f2f2f2;
  }
}

.product-more::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 145px;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}

.product-more::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 145px;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  transform: rotate(90deg);
}

.product-more__icon {
  margin: 0 auto;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.product-more__title {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;

    br {
      display: block;
    }
  }
}

.product-more__subtitle {
  margin: 0 auto;
  margin-bottom: 21px;

  @include text-arial-regular;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    max-width: 200px;

    font-size: 16px;
    line-height: 18px;
  }
}

.product-more__button {
  @include button-gray;
  @include text-oswald-regular;

  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
