.product-extra__wrapper {
  @include container;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-bottom: 86px;
  }
}

.product-extra__title {
  @include section-title;

  padding-top: 25px;
  padding-bottom: 36px;

  font-size: 24px;
  line-height: 24px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 68px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 12px;
  }
}

.product-extra__list {
  @include list-zero;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding-right: 80px;
    flex-grow: 1;
    border: none;
  }
}

.product-extra__item {
  padding-top: 10px;
  padding-bottom: 19px;

  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 24px 37px 28px 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 15px 0 15px;
  }
}

.product-extra__item:first-child {
  @media (min-width: $desktop-width) {
    border-top: 1px solid #cdcdcd;
  }
}

.product-extra__text {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 23px;

    @media (min-width: $desktop-width) {
      flex-grow: 1;
      margin-right: 38px;
      margin-bottom: 0;
    }
  }
}

.product-extra__name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: auto;

    font-size: 20px;
    line-height: 20px;
  }
}

.product-extra__details {
  @include text-arial-regular;

  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.product-extra__row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 290px;
  }
}

.product-extra__clarification {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
    margin-top: 3px;
  }
}

.product-extra__button {
  @include button-green;
  @include text-oswald-regular;

  width: 100%;
  margin: 0 auto;
  padding: 10px 0;

  text-align: center;
  text-transform: uppercase;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
