.program {
  @include container;
  padding: 20px 18px 22px;

  @media (min-width: $tablet-width) {
    margin-top: -90px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -310px;
    padding-top: 71px;
    padding-bottom: 71px;
  }
}

.program__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.program__title {
  @include section-title;
  @include visually-hidden;
}

.program__card + .program__card {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
