.radio {
  padding-top: 22px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    min-width: 450px;
  }
}

.radio__row {
  @include form-row;
}

.radio__row:not(:last-child) {
  margin-bottom: 13px;
}

.radio__label {
  margin-right: 0;
  line-height: 30px;
}

.radio__label:hover {
  opacity: 0.3;
}

.radio__input {
  @include visually-hidden;
}

.radio__text {
  position: relative;

  padding-left: 45px;
}

.radio__text::before {
  content: "";
  position: absolute;
  left: 0;

  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.radio__text::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 9px;

  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;

  display: none;
}

.radio__input:checked ~ .radio__text::after {
  display: block;
}
