.radio {
  padding-top: 46px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 26px 28px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
    box-sizing: border-box;
    padding: 27px 27px;
  }
}

.radio__row {
  @include form-row;
}

.radio__row:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.radio__label {
  margin-right: 0;
  line-height: 30px;
}

.radio__label:hover {
  cursor: pointer;

  .radio__text::before {
    border-color: #bababa;
  }
}

.radio__input:disabled ~ .radio__text {
  opacity: 0.3;
}

.radio__input {
  @include visually-hidden;
}

.radio__text {
  position: relative;
  display: block;

  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.radio__text::before {
  content: "";
  position: absolute;
  left: 0;

  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 39px;
    height: 39px;
  }
}

.radio__text::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 4px;

  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;

  display: none;

  @media (min-width: $tablet-width) {
    left: 11px;
    top: 9px;
    width: 18px;
    height: 18px;
  }
}

.radio__input:checked ~ .radio__text::after {
  display: block;
}
