.radio {
  padding-top: 22px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    min-width: 450px;
  }
}

.radio__label {
  margin-right: 0;
}

.radio__label:hover {
  opacity: 0.3;
}

.radio__input {
  @include visually-hidden;
}

.radio__decorative {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.radio__input:checked + .radio__decorative {
  background: radial-gradient(circle closest-side, #68b738 7px, #ffffff 7px, #ffffff 30px);
}
