.results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.results__items-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.results__item {
  display: flex;
  flex-direction: column;

  min-width: 124px;

  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }
}

.results__item + .results__item {
  @media (min-width: $tablet-width) {
    margin-left: 42px;
  }
}

.results__number {
  margin: 0;
  padding: 13px 20px 18px;

  border: 1px solid #cdcdcd;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.results__text {
  position: relative;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 65%;

  @include text-arial-regular;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    width: 80%;

    background-color: #ffffff;

    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.results__cost {
  margin: 9px auto;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 8px;
    width: 180px;
    text-align: end;

    font-size: 21px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: start;
  }
}
