.social__list {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social__item {
  margin-right: 5px;
}

.social__link {
  display: block;
  padding: 18px 10px;
}

.social__link span {
  @include visually-hidden;
}

.social__link:hover {
  stroke: #68b738;
}

.social__link:active {
  opacity: 0.3;
}
