.special-offer {
  padding-top: 35px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.special-offer__wrapper {
  padding: 60px 60px 40px;

  text-align: center;

  background-image: url("../img/special-offer-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding: 57px 124px 61px 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/special-offer-background-tablet.png");
  }

  @media (min-width: $desktop-width) {
    padding: 55px 40px 42px;
    background-image: url("../img/special-offer-background-desktop.png");
    flex-direction: column;
  }
}


.special-offer__text {
  @include text-arial-regular;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: none;

  @media (min-width: $tablet-width) {
    text-align: start;
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.special-offer__icon {
  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}
