.special-offer {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.special-offer__wrapper {
  padding: 60px 60px 40px;

  text-align: center;

  background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)),
    url("../img/special-offer-background-mobile.jpg");
  background-color: rgba(#68b738, 0.85);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)),
      url("../img/special-offer-background-mobile@2x.jpg");
  }


  @media (min-width: $tablet-width) {
    padding: 47px 124px 48px 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)),
      url("../img/special-offer-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)),
        url("../img/special-offer-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 11px 32px 42px;
    background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)),
      url("../img/special-offer-background-desktop.jpg");
    flex-direction: column;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(#68b738, 0.85), rgba(#68b738, 0.85)),
        url("../img/special-offer-background-desktop@2x.jpg");
    }
  }
}

.special-offer__text {
  @include text-arial-regular;
  padding-top: 45px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: none;

  @media (min-width: $tablet-width) {
    text-align: start;
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.special-offer__icon {
  @media (min-width: $desktop-width) {
    padding-top: 45px;
  }
}
